<div class="cash-register">
    <button class="orders-button">ORDERS</button>

    <div class="main">
        <div class="menu">
            <button [class.disabled]="order.tenderRecord" *ngFor="let item of items" (click)="addItem(item)">{{item.name}}</button>
        </div>

        <div class="cart">
            <p>New Order<span *ngIf="order"> / Order #{{order.orderNumber | number:'3.0'}}</span></p>

            <div class="order-items">
                <div class="list">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of order.items">
                                <td class="quantity">{{item.qty}}</td>
                                <td class="name">{{item.item.name}}</td>
                                <td class="price">{{item.extendedPrice | currency:'USD':'$'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>
                    Subtotal:
                    <span class="subtotal">{{order.subTotal | currency:'USD':'$'}}</span>
                </p>
                <p>
                    Sales Tax:
                    <span class="tax">{{order.totalTax | currency:'USD':'$'}}</span>
                </p>
                <p>
                    Grand Total:
                    <span class="total">{{order.grandTotal | currency:'USD':'$'}}</span>
                </p>
                <p *ngIf="order.tenderRecord">
                    Amount Tendered:
                    <span class="total">{{order.tenderRecord.amountTendered | currency:'USD':'$'}}</span>
                </p>
                <p *ngIf="order.tenderRecord">
                    Change Given:
                    <span class="total">{{order.tenderRecord.changeGiven | currency:'USD':'$'}}</span>
                </p>
            </div>

            <div class="buttons">
                <button class="void" [class.disabled]="order.items.length === 0 || order.tenderRecord" (click)="voidLastItem()">VOID</button>
                <button class="pay" [class.disabled]="order.items.length === 0 || order.tenderRecord" (click)="makePayment()">PAY NOW</button>
            </div>
        </div>
    </div>

    <div class="payment-dialog-container" *ngIf="isPaying">
        <div class="payment-dialog">
            <h2>TENDER PAYMENT</h2>

            <div class="form">
                <div><span>Amount Due:</span>        <span>{{order.grandTotal | currency:'USD':'$'}}</span></div>
                <div><span>Amount Tendered:</span>   <span>$<input [(ngModel)]="amountTendered" required  /></span></div>
                <div><span>Change Due:</span>        <span>{{(amountTendered > order.grandTotal ? amountTendered - order.grandTotal : 0) | currency:'USD':'$'}}</span></div>
            </div>

            <div class="buttons">
                <button (click)="isPaying = false">CANCEL</button>
                <button [class.disabled]="amountTendered < order.grandTotal" (click)="pay(amountTendered)">TENDER</button>
            </div>
        </div>
    </div>
</div>
